.post {
    max-width: 25.9375rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .post {
        max-width: 100%;
        margin-left: 0;
    }
}

.post-img {
    width: 100%;
}

.post-img+* {
    margin-top: 1.25rem;
}

@media (min-width: 768px) {
    .post-img+* {
        margin-top: 2.5rem;
    }
}

.post-meta {
    color: #000000;
    font-size: 1rem;
    text-transform: uppercase;
}

.post-title {
    margin-top: 0.875rem;
}